@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i');

/*
- TÍTULOS
*/

.title-1 {
	margin-bottom: 77px;
	padding-bottom: 3px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #00245D;
	line-height: normal;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-bottom: 2px solid #008698;
}
.title-1 a { color: #00245D; }
.title-1 .extra-option {
	padding: 0 15px 2px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #06869D;
	line-height: normal;
	display: inline-block;
}
.title-1--no-border {
	margin: 0;
	padding: 0;
	border: none;
}

/*
- CABEÇALHO
*/

.page-header {
	height: 531px !important;
	display: block !important;
	padding-top: 318px !important;
	background-image: url(../../../assets/images/header.png) !important;
}
.page-header .title-header { max-height: none !important; }
.page-header .title-header.singular-title {
	padding-top: 14px !important;
	padding-right: 117px !important;
	padding-bottom: 11px !important;
}
.page-header .title-header h1 { font-size: 46pt !important; }
.page-header .title-header p {
	margin: 0 !important;
	font-size: 25pt !important;
}
.page-header .title-header h1 + p { margin-top: -14px !important; }

/*
- FILTRO
*/

#date_listevents { margin-top: 0; }
.filter-box {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.filter-box:before,
.filter-box:after {
	content: "";
	display: table;
} 
.filter-box:after { clear: both; }

.box-states {
	margin-top: 10px;
	clear: both;
}

/*
- LISTA DE NPDs
*/

.npds-list { padding-bottom: 52px; }
.npds-list__item + .npds-list__item { margin-top: 52px; }
.npds-list__item p {
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #4D4D4D;
	line-height: normal;
}
.npds-list__read-more {
	margin-top: 24px;
	text-align: right;
}
.npds-list__read-more a {
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #348898;
	line-height: normal;
}

/*
- LISTA DE EVENTOS
*/

.list_events_item {
	margin-bottom: 0;
	padding: 70px 0 90px;
	background: none;
}
.list_events_item + .list_events_item { border-top: 2px solid #E7E7E7; }

img.list_events_image {
	width: 100%;
	margin: 0 10px 10px 0;
	display: block;
	vertical-align: top;
	float: none;
}
.list_events__category {
	margin-bottom: 31px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #00245D;
	line-height: normal;
	text-transform: uppercase;
	display: block;
}
.list_events__category a { color: #00245D; }
.list_events__description {
	margin-bottom: 35px;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: #434445;
	line-height: normal;
}
.details__date,
.details__place {
	padding-left: 45px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #898E90;
	line-height: normal;
	display: block;
	position: relative;
}
.details__date i,
.details__place i {
	position: absolute;
	top: 3px;
	left: 0;
}
.details__date + .details__place { margin-top: 22px; }

/* MUDANÇAS DO CSS ANTIGO */

.tainacan-title .title-1 { margin-bottom: 0; }
.tainacan-title { margin-bottom: 20px; }
.tainacan-title--type-b { margin-bottom: 115px; }
.tainacan-title--type-c { margin-bottom: 85px; }
.tainacan-single-post article header .post-details {
	margin-bottom: 70px;
	font-size: 14px;
}
.tainacan-single-post article .tainacan-content { margin-bottom: 118px; }
.tainacan-single-post article .tainacan-content p {
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #4D4D4D;
	line-height: normal;
}

/*
- LISTA DE PROFISSIONAIS
*/

.lista-profissionais .row + .row > div { margin-top: 70px; }
.lista-profissionais__item {
	display: flex;
	justify-content: space-between;
}
.lista-profissionais__imagem {
	width: 100%;
	max-width: 210px;
	margin-right: 20px;
}
.lista-profissionais__imagem img {
	width: 100%;
	height: auto;
	display: block;
}
.lista-profissionais__texto { width: 100%; }
.lista-profissionais__categoria {
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #00245D;
	line-height: normal;
	text-transform: uppercase;
	display: block;
}
.lista-profissionais__categoria a { color: #00245D; }
.lista-profissionais__nome {
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #000;
	line-height: normal;
	text-transform: uppercase;
	display: block;
}
.lista-profissionais__dado {
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #000;
	line-height: normal;
	display: block;
}
.lista-profissionais__categoria + .lista-profissionais__nome,
.lista-profissionais__categoria + .lista-profissionais__dado { margin-top: 21px; }
.lista-profissionais__nome + .lista-profissionais__dado { margin-top: 32px; }
.lista-profissionais__dado + .lista-profissionais__dado { margin-top: 7px; }

/*
- LISTA DE CONTATO
*/

.box-contato .tainacan-title { margin-bottom: 137px; }
.box-contato dt {
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #000;
	line-height: normal;
	display: block;
}
.box-contato dd {
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #000;
	line-height: normal;
	word-break: break-word;
	display: block;
}
.box-contato dd + dt { margin: 22px 0 0; }

/* FORMULÁRIO DE CONTATO */

.title-1 + .form-style { margin-top: 33px; }
.form-style legend {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
.form-style .linha { position: relative; }
.form-style .linha + .linha { margin-top: 15px; }
.form-style label {
	font-weight: 400;
	font-size: 14px;
	color: #7D7A7D;
	line-height: 37px;
	display: block;
	position: absolute;
	top: 0;
	left: 11px;
	transition: transform 200ms ease-in-out, font-size 200ms ease-in-out;
}
.form-style input[type=text],
.form-style textarea {
	width: 100%;
	height: 37px;
	padding: 0 10px;
	font-weight: 400;
	font-size: 14px;
	color: #7D7A7D;
	line-height: 37px;
	outline: none;
	border: 1px solid #e5e5e5;
}
.form-style textarea {
	height: 138px;
	padding: 6px 10px 0;
	line-height: normal;
	resize: none;
}
.form-style input[type=submit] {
	width: 100%;
	max-width: 104px;
	height: 39px;
	font-weight: 400;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
	outline: none;
	border-radius: 6px;
	border: none;
	background-color: #25a189;
	transition: background-color 200ms ease-in-out;
}

/* HOVER */

.form-style input[type=text]:focus,
.form-style textarea:focus { border: 1px solid #898d8f; }

/* LABEL FIXO ACIMA DO CAMPO */

.form-style .linha.ativa label {
	transform: translate(0,-24px);
	font-size: 8px;
}

/* VALIDAÇÃO DOS DADOS */

.form-style .erro label,
.form-style .erro input[type=text],
.form-style .erro textarea {
	color: #C24A4A !important;
	border-color: #F0DBDD !important;
	background-color: #F0DBDD !important;
}
.form-style .erro label { background: none !important; }

.form-style .sucesso label,
.form-style .sucesso input[type=text],
.form-style .sucesso textarea {
	color: #3AA993 !important;
	border-color: #D3EDE7 !important;
	background-color: #D3EDE7 !important;
}
.form-style .sucesso label { background: none !important; }

/* Hover da validação */

.form-style .erro input[type=text]:focus,
.form-style .erro textarea:focus { border-color: #C24A4A !important; }
.form-style .sucesso input[type=text]:focus,
.form-style .sucesso textarea:focus { border-color: #3AA993 !important; }

/*
- PAGINAÇÃO
*/

.paginacao-tainacan .margin-pagination {
	padding: 0 3rem;
	border-top: 1pt solid #D5D5D5 !important;
}

/*
- BREADCRUMB
*/

nav[aria-label='breadcrumb'] { border: none !important; }
nav[aria-label='breadcrumb'] .breadcrumb {
	margin-left: 0 !important;
	margin-bottom: 0 !important;
}
.breadcrumb-item + .breadcrumb-item { padding-left: 5px; }
.breadcrumb-item + .breadcrumb-item::before { padding-right: 5px; }

/*
- MAPAS
*/

.npds-mapas {
	margin: 0;
	padding: 0;
	list-style: none;
}
.npds-mapas li {
	padding: 0 0 70px 35px;
	position: relative;
}
.npds-mapas li:after {
	content: "";
	width: 11px;
	height: 11px;
	display: block;
	position: absolute;
	top: 7px;
	left: 0;
	border-radius: 50%;
	background-color: #4D4D4D;
}
.mapas-cidade {
	padding: 0;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #4D4D4D;
	line-height: normal;
	cursor: pointer;
	display: block;
	border: none;
	background: none;
}
.mapas-cidade.dropdown-toggle::after {
	margin-left: 14px;
	color: #318192;
	vertical-align: 3px;
	transition: transform 200ms ease-in-out;
}
.mapas-detalhes {
	margin: 41px 0 15px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #898E90;
	line-height: normal;
	display: block;
}
.mapas-detalhes a { color: #898E90; }
.mapas-box {
	width: 100%;
	max-height: 0;
	overflow: hidden;
}
.npds-mapas .ativo .mapas-box { max-height: 10000px; }
.npds-mapas .ativo .mapas-cidade.dropdown-toggle::after { transform: rotate(-180deg); }

/* GOOGLE MAPS */

.mapas-map {
	width: 100%;
	height: 350px;
	background-color: grey;
}

/*
- HOME
*/

.tainacan-single-post h2 {
	margin-bottom: 77px;
	padding-bottom: 3px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #00245D;
	line-height: normal;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-bottom: 2px solid #008698;
}
.tainacan-single-post h3 {
	margin-bottom: 20px;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #008698;
	line-height: normal;
}
.tainacan-single-post .tainacan-content p {
	margin-bottom: 20px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #4D4D4D;
	line-height: normal;
}
.has-2-columns { margin: 0 -40px; }
.has-2-columns .wp-block-column { padding: 0 40px; }

/* BOX DE NOTÍCIAS */

.box-noticias__lista {
	padding: 0;
	list-style-type: none;
}
.box-noticias__lista li {
	margin: 13px 0 0;
	padding: 32px 0 0;
	break-inside: avoid-column;
	border-top: 1px solid #CFCFCF;
}
.box-noticias__lista li:first-child {
	margin: 0;
	padding: 0;
	border: none;
}
.box-noticias__titulo {
	margin: 0 0 19px;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #008698;
	line-height: normal;
}
.box-noticias__lista p {
	margin: 0 0 22px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #4D4D4D;
	line-height: normal;
}
.box-noticias__mais { text-align: right; }
.box-noticias__mais a {
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #008698;
	line-height: normal;
}


/*
- REGRAS GERAIS
*/

.tainacan-details { margin-bottom: 63px; }

/*
- MEDIA QUERIES
*/

@media only screen and (max-width: 1100px) {
	.box-contato .tainacan-title { margin-bottom: 70px; }
}

@media only screen and (max-width: 992px) {
	.list_events__box { padding: 20px; }
	.list_events_item { padding: 30px 0; }
}