@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i');

/*
- TÍTULOS
*/

.title-1 {
	margin-bottom: 77px;
	padding-bottom: 3px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	font-size: 20pt;
	color: #00245D;
	line-height: normal;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-bottom: 2px solid #008698;
}
.title-1 a { color: #00245D; }
.title-1 .extra-option {
	padding: 0 15px 2px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 14pt;
	color: #06869D;
	line-height: normal;
	display: inline-block;
}

/*
- FILTRO
*/

#date_listevents { margin-top: 0; }
.filter-box {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.filter-box:before,
.filter-box:after {
	content: "";
	display: table;
} 
.filter-box:after { clear: both; }

.box-states {
	margin-top: 10px;
	clear: both;
}

/*
- LISTA DE NPDs
*/

.npds-list { padding-bottom: 52px; }
.npds-list__item + .npds-list__item { margin-top: 52px; }
.npds-list__item p {
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 14pt;
	color: #4D4D4D;
	line-height: normal;
}
.npds-list__read-more {
	margin-top: 24px;
	text-align: right;
}
.npds-list__read-more a {
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 14pt;
	color: #348898;
	line-height: normal;
}

/*
- LISTA DE EVENTOS
*/

.list_events_item {
	margin-bottom: 0;
	padding: 70px 0 90px;
	background: none;
}
.list_events_item + .list_events_item { border-top: 2px solid #E7E7E7; }

img.list_events_image {
	width: 100%;
	margin: 0 10px 10px 0;
	display: block;
	vertical-align: top;
	float: none;
}
.list_events__category {
	margin-bottom: 31px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #00245D;
	line-height: normal;
	text-transform: uppercase;
	display: block;
}
.list_events__category a { color: #00245D; }
.list_events__description {
	margin-bottom: 35px;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: #434445;
	line-height: normal;
}
.details__date,
.details__place {
	padding-left: 45px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #898E90;
	line-height: normal;
	display: block;
	position: relative;
}
.details__date i,
.details__place i {
	position: absolute;
	top: 3px;
	left: 0;
}
.details__date + .details__place { margin-top: 22px; }

/* MUDANÇAS DO CSS ANTIGO */

.tainacan-title .title-1 { margin-bottom: 0; }
.tainacan-title { margin-bottom: 20px; }
.tainacan-single-post .header-meta time { font-size: 14pt; }
.tainacan-single-post article header .post-details {
	margin-bottom: 70px;
	font-size: 14pt;
}
.tainacan-single-post article .tainacan-content { margin-bottom: 118px; }
.tainacan-single-post article .tainacan-content p {
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 14pt;
	color: #4D4D4D;
	line-height: normal;
}

/*
- LISTA DE PROFISSIONAIS
*/

.lista-profissionais .row + .row > div { margin-top: 70px; }
.lista-profissionais__item {
	display: flex;
	justify-content: space-between;
}
.lista-profissionais__imagem {
	width: 100%;
	max-width: 210px;
	height: 240px;
	margin-right: 20px;
	background-color: #ccc;
}
.lista-profissionais__texto { width: 100%; }
.lista-profissionais__categoria {
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 14pt;
	color: #00245D;
	line-height: normal;
	text-transform: uppercase;
	display: block;
}
.lista-profissionais__nome {
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	font-size: 16pt;
	color: #000;
	line-height: normal;
	text-transform: uppercase;
	display: block;
}
.lista-profissionais__dado {
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 14pt;
	color: #000;
	line-height: normal;
	display: block;
}
.lista-profissionais__categoria + .lista-profissionais__nome,
.lista-profissionais__categoria + .lista-profissionais__dado { margin-top: 21px; }
.lista-profissionais__nome + .lista-profissionais__dado { margin-top: 32px; }
.lista-profissionais__dado + .lista-profissionais__dado { margin-top: 7px; }

/*
- LISTA DE CONTATO
*/

.box-contato .tainacan-title { margin-bottom: 137px; }
.box-contato dt {
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	font-size: 14pt;
	color: #000;
	line-height: normal;
	display: block;
}
.box-contato dd {
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 14pt;
	color: #000;
	line-height: normal;
	word-break: break-word;
	display: block;
}
.box-contato dd + dt { margin: 22px 0 0; }

/* FORMULÁRIO DE CONTATO */

.form-style {

}
.form-style legend {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
.form-style {

}
.form-style {

}
.form-style {

}
.form-style {

}
.form-style {

}


/*
- PAGINAÇÃO
*/

.paginacao-tainacan .margin-pagination {
	padding: 0 3rem;
	border-top: 1pt solid #D5D5D5 !important;
}

/*
- BREADCRUMB
*/

nav[aria-label='breadcrumb'] { border: none; }
nav[aria-label='breadcrumb'] .breadcrumb {
	margin-left: 0;
	margin-bottom: 0;
}
.breadcrumb-item + .breadcrumb-item { padding-left: 5px; }
.breadcrumb-item + .breadcrumb-item::before { padding-right: 5px; }

/*
- REGRAS GERAIS
*/

.tainacan-details { margin-bottom: 63px; }

/*
- MEDIA QUERIES
*/

@media only screen and (max-width: 992px) {
	.list_events__box { padding: 20px; }
	.list_events_item { padding: 30px 0; }
}